<!-- just a note to self.-->
<!-- 
	render @tweets performs this magic.
	render :partial => "tweet", :collection => @tweets  
-->
<h6>Your feed:</h6><br/>
<%= render @tweets %><br/>
<%= paginate @tweets %> 

<!-- side bar -->
<% content_for :sidebar do %>
	<%= render "shared/tweet_and_user_links" %>
	<%= render "shared/follower_stats" %>
<% end %>