index page... <br/>
high voltage gem is used for this page.<br/>
this page is located in view/pages/index.html.erb<br/>
<br/>

<h6>Links</h6><br/>
<%= link_to "your tweets", tweets_path %><br/>
<%= link_to "your feed", feed_tweets_path %><br/>
<%= link_to "find others", search_users_path %><br/>
<br/>
